
.sketch-border {
display: flex;
  padding: 5px;
  background: #fff; 
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.4));
  border: 3px solid #000;
  width: 330px;
  height: 500px;
}
.sketch-border::before,
.sketch-border::after {
  content: "";
  position: absolute;
  background: #000;
  border-radius: 999px;
}

.sketch-border::before {
  width: 105%;
  height: 3px;
  top: -3px;
  left: -9px;
}

.sketch-border::after {
  width: 3px;
  height: 105%;
  top: -10px;
  left: -3px;
}
.sketch-border .content::before,
.sketch-border .content::after {
  content: "";
  position: absolute;
  background: #000;
  border-radius: 999px;
}

.sketch-border .content::before {
  width: 105%;
  height: 3px;
  bottom: -3px;
  right: -9px;
}

.sketch-border .content::after {
  width: 3px;
  height: 105%;
  top: -10px;
  right: -3px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.content h4 {
    font-size: 20px;
}
.content p {
    font-size: 14px;
    text-align: justify;
    padding: 0 1rem;
}

.projects-btns{
    display: flex;
    gap: 1rem;
}
.projects-btns a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.projects-btns a:hover{
    scale: 1.1;
    font-weight: 900;
}