/* ---------- SECCIÓN CONTACTO ---------- */

#contact {
  width: 100vw;
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}


.sketch-border {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: #fff;
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.4));
  border: 3px solid #000;
  width: 85%;
  max-width: 700px;
  height: 500px;
  position: relative;
}

.sketch-border::before,
.sketch-border::after {
  content: "";
  position: absolute;
  background: #000;
  border-radius: 999px;
}

.sketch-border::before {
  width: 105%;
  height: 3px;
  top: -3px;
  left: -9px;
}

.sketch-border::after {
  width: 3px;
  height: 105%;
  top: -10px;
  left: -3px;
}

.sketch-border .content::before,
.sketch-border .content::after {
  content: "";
  position: absolute;
  background: #000;
  border-radius: 999px;
}

.sketch-border .content::before {
  width: 105%;
  height: 3px;
  bottom: -3px;
  right: -9px;
}

.sketch-border .content::after {
  width: 3px;
  height: 105%;
  top: -10px;
  right: -3px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

form label {
  font-size: 1rem;
  font-weight: 500;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 1rem;
}

form textarea {
  resize: none;
  height: 100px;
}

form input[type="submit"] {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #333;
}



@media (max-width: 900px) {
  .sketch-border {
    width: 90%;
    height: auto;
  }

  form {
    width: 100%;
  }
}

@media (max-width: 650px) {
  #contact {
    margin: 2rem 0.5rem;
  }

  .contact-title h1 {
    font-size: 2rem;
  }
  .contact-container{
    margin-right: 1.5rem;
  }
}
