.home-container {
  display: flex;
  align-items: flex-end;
  gap: 200px;
  padding: 20vh 5vw 15vh;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-container img{
  width: 350px;
}

.about h1 span,
.about h2 span {
  background-image: linear-gradient(to bottom, transparent 50%, #ffdc58 50%);
}

.cv-btn {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.cv-btn a {
  background: rgba(73, 72, 72, 0.438);
  border: 3px solid #000000;
  border-radius: 999px;
  width: fit-content;
  text-decoration: none;
  color: #000;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 18px;
  transition: 300ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.name-container {
  display: flex;
  align-items: center;
}
.name {
  display: flex;
  gap: 1rem;
  transform: rotate(-5deg);
  position: relative;
}
.name p {
  position: absolute;
  left: -10px;
  top: -10px;
  width: max-content;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 0px 4px 0px rgba(231, 231, 231, 0.32);
}

.photo-container{
  display: flex;
  flex-direction: column;
}
.icon-container{
  display: flex;
  justify-content: center;
  
}

.icon-container a:hover{
    scale: 1.1;
}

.icon-container a img{
  width: 25px;
  height: 25px;
  margin: 0 10px;
  
}

.divider {
  background-color: #000;
  color: white;
  height: 50px;
  width: 100vw;
}


@media screen and (min-width: 901px) and (max-width: 1290px) {
  .home-container {
    gap: 100px;
  }
}

@media screen and (max-width: 900px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 25vh 3vw 15vh 3vw;
  }

  .skills-container ul {
    gap: 2rem;
  }
  .skills-container li {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10vh 6vw;
    width: 100%;
    box-sizing: border-box;
  }

  .skills-container ul {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .skills-container li {
    font-size: 12px;
    word-break: break-word;
  }
  .name p {
    position: absolute;
    left: 20px;
    top: -10px;
  }
}

